.pad-thai {
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  float: right;
  text-align: right;
}

.email {
  margin: 20px;
  font-weight: 400;
  font-size: 20px;
}

.avatar {
  padding: 0;
  margin: 0;
  margin: 10px;
  text-align: center;
  width: 90px !important;
  height: 90px !important;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-outline {
  outline: none
}

.header, header {
  height: 10vh !important;
}
