
.wrapper {
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  /*width: 100vw ! important;*/
  height: 100vh ! important;
}

.background-img {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  filter: grayscale(100%) blur(1px);
  width: 100%;
  z-index: -999;
}

.gradient {
  background: radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

.center {
  text-align: center;
}

.login-card {
  padding-left: 15px;
  padding-right: 15px;
}

.overlay {
  position: absolute;
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  font-family: 'Roboto';
  color: black;
  margin: 0 auto;
  z-index: 999;
}

.error {
  padding: 5px;
  color: red;
  font-style: italic;
}
