
.wrapper {
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  height: 90vh;
}

.background-img {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  filter: grayscale(100%) blur(1px);
  height: 100%;
  z-index: -999;
}

.gradient {
  background: radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

.center {
  text-align: center;
}

.login-card {
  z-index: 50;
  padding-left: 15px;
  padding-right: 15px;
  width: 80vw;
  -webkit-animation-duration: 1.25s;
  -webkit-animation-delay: 0.25s;
  -moz-animation-duration: 1.25s;
  -moz-animation-delay: 0.25s;
  animation-duration: 1.25s;
  animation-delay: 0.25s;
}

.overlay {
  position: absolute;
  margin: 0 auto;
}

.title-container {
  height: 100%;
}

.title {
  font-size: 30px;
  font-family: 'Roboto';
  color: black;
  margin: 0 auto;
  z-index: 999;
}

.error {
  padding: 5px;
  color: red;
  font-style: italic;
}

@media (min-width: 575px) {

}

@media (min-width: 767px) {
  .login-card {
    width: 60vw;
  }
}

@media (min-width: 991px) {
  .background-img {
    width: 100%;
  }
  .login-card {
    width: 50vw;
  }
}

@media (min-width: 1199px) {
  .login-card {
    width: 30vw;
  }
}
